<div class="hamburger">
    <div class="hamburger__container">
        <span class="hamburger__top"></span>
        <span class="hamburger__middle"></span>
        <span class="hamburger__bottom"></span>
    </div>
</div>
<div class="menu">
    <div class="menu__container bg-white">
        <nav class="menu__nav">
            <ul class="menu__list">
                <li class="menu__item js-span">Follow me on:</li>
                <li class="menu__item">
                    <a class="menu__link" href="https://linkedin.com/in/duong-hao-30a476194"
                       target="_blank"><i class="fab fa-linkedin-in"></i></a>

                </li>
                <li class="menu__item">
                    <a class="menu__link"
                       href="https://github.com/duongnhathao"
                       target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li class="menu__item js-span">Our Teams</li>
                <li class="menu__item">
                    <a class="menu__link" href="https://www.facebook.com/tranthianh.thuw" target="_blank">Trần Thị Anh
                        Thư  </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="https://www.facebook.com/profile.php?id=100013405204846"
                       target="_blank">Ngô Quang Trường  </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="https://linkedin.com/in/duong-hao-30a476194"
                       target="_blank">Dương Nhật Hào </a>
                </li>
                <li class="menu__item menu__item--contact">
                    <span>Contact</span>
                    <div class="menu__info">
                        <span>HCM ,VN</span>
                        <span>
                <a class="menu__external" href="mailto:duongnhathao001@gmail.com">Click here to mail</a>
              </span>
                    </div>
                </li>
            </ul>

        </nav>


    </div>
    <div class="menu__img bg-black">
        <figure class="absolute-bg"
                style="background-image: url('https://images.hdqwalls.com/download/python-logo-4k-i6-1080x1920.jpg');"></figure>
    </div>
</div>